//exercise 3-4
//form -> body 데이터와 함께 post 요청. 
//submit 버튼 클릭 시 /login 경로로
doctype html
html
    head
        title Login Page
    body
        form(method='post', action='/login')
            div
                label Username:
                input#username-input(name='username', type='text')
            div
                label Password:
                input#password-input(name='password', type='password')
            div
                div Introduce yourself
                textarea#introduction-input(name='introduction')
            button(type='submit') Submit